<section id="plants">
  <header>
    <h2>Editing '<%= @plant_list[:name] %>'</h2>
    <form class="delete" action="/plants/<%= params[:id] %>/delete" method="post">
      <button type="submit" class="delete">Delete Plant</button>
    </form>
  </header>
</section>

<form action="/plants/<%= params[:id] %>" method="post" id="edit-plant" class="thin-brown-border">
  <body>
    <label for="plant_name">Name of Plant:</label>
    <br>
    <input name="plant_name" placeholder="Plant Name" type="text" value="<%= params[:plant_name] || @plant_list[:name] %>">
    <br>
    <br>
    <label for="date_planted">Date Planted:</label>
    <br>
    <input name="date_planted" type="date" value="<%= params[:date_planted] || @plant_list[:date_planted] %>">
    <br>
    <br>
    <label for="sunlight">Amount of Sunlight:</label>
    <br>
    <input name="sunlight" placeholder="# of Hours" type="text" value="<%= params[:sunlight] || @plant_list[:sunlight] %>">
    <br>
    <br>
    <label for="height">Height in Inches:</label>
    <br>
    <input name="height" placeholder="# in Inches" type="text" value="<%= params[:height] || @plant_list[:height] %>">
    <br>
    <br>
    <label for="harvest">Days to Harvest:</label>
    <br>
    <input name="harvest" placeholder="# of Days Until Harvest" type="text" value="<%= params[:harvest] || @plant_list[:harvest] %>">
    <br>
    <br>
    <label for="notes">Notes:</label>
    <br>
    <input name="notes" placeholder="Notes about this plant" type="text" value="<%= params[:notes] || @plant_list[:notes] %>">
    <br>
    <br>
    <form action="/plants" method="post">
      <input type="submit" value="Save Changes">
      <a href="/plants/<%= params[:id] %>">Cancel</a>
    </form>
  </body>
  <br>
  <br>
</form>
