<header>
  <% content_for :header_links do %>
    <a id="all-plants" href="/plants">All Plants</a>
  <% end %>

  <% content_for :header_links do %>
    <label><a id="edit" href="/plants/<%= params[:id] %>/edit">Edit Plant</a></label>
  <% end %>

  <h2><%= @plant_list[:name] %></h2>
</header>

<body>
  <div id="plant-display">
    <table id="t1">
      <tr>
        <th>Date Planted</th>
        <th>Amount of Sunlight</th>
        <th>Height in Inches</th>
        <th>Days to Harvest</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td><%= @plant_list[:date_planted] %></td>
        <td><%= @plant_list[:sunlight] %></td>
        <td><%= @plant_list[:height] %></td>
        <td><%= @plant_list[:harvest] %></td>
        <td><%= @plant_list[:notes] %></td>
      </tr>
    </table>
  </div>
</body>
